<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0MRKdPXrppkRNZPwwRr8f382GM3cXH8U</string>
	<key>GCM_SENDER_ID</key>
	<string>113412083891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managerGoogleMeet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>manager--meet</string>
	<key>STORAGE_BUCKET</key>
	<string>manager--meet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113412083891:ios:276c97979389e7694ee0c6</string>
</dict>
</plist>